<%= stylesheet_link_tag    'users', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'inboxes', 'data-turbolinks-track' => true, "defer" => "defer" %>

<div class="modal user-send-message fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">发送消息</h4>
      </div>
      <div class="modal-body user-send-message-body">
          <div class="col-sm-12">
            <div class="form-group">
              <textarea type="text"class='message-body-input form-control'  placeholder=""> </textarea>
            </div>
          </div>
          <div class="user-send-message-error"></div>
          <div class="user-send-message-notice"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn  check-user-send-message-button btn-primary">确认发送</button>
      </div>
    </div>
  </div>
</div>


  <div class="main-content">
    <div class="panel panel-default">
      <div class="panel-heading">
         系统中所有用户列表(不包含自己)
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>usernmae</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
              <tr>
                <td><%= user.name %> </td>
                <td><%= link_to "发私信息", "javascript:void(0)", class: "send-message", "data-name": user.name %> </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <%= will_paginate @messages %>
        </div>
      </div>

    </div>
  </div>
