<div class="panel -dark">
        <!-- Panel Heading -->
  <div class="panel-heading">
    <h4>城市列表</h4>
  </div>
  <!-- /Panel Heading -->
  <div class="form -dark">
    <table class="table -dark" id="datatable" data-url="<%= request.path %>" data-keyword="<%= params['key']%>" data-total-page="<%= params['total_page'] %>" data-current-page="<%= params['page'] %>" data-has-search="<%= @has_search%>" >
      <thead>
        <tr>
          <th>国家</th>
          <th>省份</th>
          <th>城市名</th>
        </tr>
      </thead>
      <tbody>
        <% @cities.each do |city| %>
          <tr>
            <td class=><%= city.country.name %></td>
            <td class=><%= link_to city.province.name, "/admin/cities?province_id=#{city.province_id}" %></td>
            <td class=><%= city.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= render "layouts/table_script" %>