<div class="panel -dark">
        <!-- Panel Heading -->
  <div class="panel-heading">
    <h4>Data Table</h4>
  </div>
  <!-- /Panel Heading -->
  <div class="form -dark">
    <table class="table -dark" id="datatable" data-url="<%= request.path %>" data-keyword="<%= params['key']%>" data-total-page="<%= params['total_page'] %>" data-current-page="<%= params['page'] %>" data-has-search="<%= @has_search%>">
      <thead>
        <tr>
          <th>标题</th>
          <th>创建时间</th>
        </tr>
      </thead>
      <tbody>
        <% @activities.each do |activity| %>
          <tr>
            <td class=><%= activity.title %></td>
            <td class="-user -detailed"><%= activity.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= render "layouts/table_script" %>