<!DOCTYPE html>
<html>
<head>
  <meta name="generator" content="HTML Tidy for HTML5 for Mac OS X version 5.2.0">
  <meta charset="UTF-8">
  <!-- Page Title -->
  <!-- The page title appears as the browser tab label, used for bookmarks -->
  <title>Volta - Portfolio Template</title>
  <!-- Page Meta -->
  <!-- The page meta is used by search engines to provide useful information about the site -->
  <meta name="description" content="Volta is a futuristic Web Application and Admin Dashboard built with Bootstrap, Stylus and CoffeeScript. From a developer trusted by thousands of users.">
  <meta name="keywords" content="volta, admin, volta admin, dashboard, web, application, template, theme, admin dashboard, admin template, admin theme, web application template, dashboard template, pixevil, pixevil themes, grozav">
  <meta name="author" content="Alex Grozav (Pixevil)">
  <!-- Viewport -->
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="assets/icon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="assets/icon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="assets/icon/manifest.json">
  <link rel="mask-icon" href="assets/icon/safari-pinned-tab.svg" color="#ff1643">
  <link rel="shortcut icon" href="assets/icon/favicon.ico">
  <meta name="msapplication-config" content="/icon/browserconfig.xml">
  <meta name="theme-color" content="#ff1643">
  <meta property="og:title" content="Volta - Web Application and Admin Dashboard">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://pixevil.com/volta">
  <meta property="og:image" content="http://pixevil.com/img/template-thumbnails/volta.jpg">
  <meta property="og:site_name" content="pixevil">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar -dark -fixed-top -has-5-items">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="index.html"><span class="hidden-sm-up">J</span> <span class="hidden-xs-down">Joysee后台</span></a>
      <% if current_user %>
        <ul class="navbar-nav -right">
          <li>
            <a class="has-morph-dropdown" href="#notifications-dropdown"><i class="pe pe-bell"></i> <span class="navbar-item-count">2</span></a>
          </li>
          <li>
            <a class="has-morph-dropdown" href="#applications-dropdown"><i class="pe pe-keypad"></i></a>
          </li>
          <li class="navbar-profile">
            <a class="has-morph-dropdown" href="#profile-dropdown">
            <!-- Image -->
             <img src="<%= current_user.avatar_url%>"></a>
          </li>
          <li id="right-sidebar-toggle">
            <a href="javascript:void(0);"><i class="pe pe-edit -rotate-90"></i></a>
          </li>
        </ul>
      <% end %>
      <div class="morph-dropdown-wrapper -dark -right">
        <div class="morph-dropdown-list -links"></div>
      </div>
    </div>
  </div>
  <%= render "layouts/sidebar" %>
  <div class="content -dark -with-left-sidebar -collapsible">
    <div class="container-fluid">
      <div class="row">
        <div class="col -xs-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
