<!DOCTYPE html>
<html>
  <head>
    <title>Letter</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.9,  user-scalable=yes, maximum-scale=0.9">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <% if current_user %>
      <%= action_cable_meta_tag %>
    <% end %>
  </head>
  <body>
    <% if @current_page %>
      <div class="current-page" data-current-page=<%= @current_page %>></div>
    <% end %>

    <% if current_user %>
      <%= render "layouts/header" %> 
    <% end %>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
