<div class="inbox-item inbox-item-<%= inbox.id %>" >
  <div class="inbox-item-header">
    <% lastest_message = Message.inbox_messages(inbox).first %>
    <% if current_user.id == lastest_message.user_id %>
      我发送给
      <a title="" class="pm-touser author-link" href="javascript:void(0)"
      data-hovercard="p$t$wen-wen-74-94">
        <%= lastest_message.friend.username %>
      </a>
    <% else %>
      <a title="" class="pm-touser author-link" href="javascript:void(0)"
      data-hovercard="p$t$wen-wen-74-94">
        <%= lastest_message.user.username %>
      </a>
      发送给我
    <% end %>
    ：
  </div>
  <div class="inbox-item-body">
    <span>
      <%= simple_format lastest_message.content %>
    </span>
  </div>
  <div class="inbox-footer">
    <span class="inbox-time inbox-left">
      <%= timeago lastest_message.created_at %>
    </span>
    <span class="inbox-bull unread-count unread-count-<%= inbox.id %>">
      <%= inbox.unread_count %>条未读
    </span>
    <span class="inbox-bull">
      |
    </span>
    <%= link_to "查看详情", inbox_path(inbox), class: "inbox-show-detail" %>
    <span class="inbox-bull">
      |
    </span>
    <%= link_to "删除", inbox_path(inbox), method: "delete", "data-confirm" => "确认删除吗?" %>
  </div>
</div>