<div class="inbox-item inbox-item-<%= message.id %>" >
  <div class="inbox-item-header">
    <% if current_user.id == message.user_id %>
      我:
    <% else %>
      <a title="文文" class="pm-touser author-link" href="javascript:void(0)"
      data-hovercard="p$t$wen-wen-74-94">
        <%= message.user.username %>:
      </a>
    <% end %>
  </div>
  <div class="inbox-item-body">
    <span>
        <%= simple_format message.content %>
    </span>
  </div>
  <div class="inbox-footer">
    <span class="inbox-time inbox-left">
    <%= timeago_tag message.created_at, :lang => 'zh-CN', :nojs => true, :limit => 10.days.ago %>
    </span>
    <% if current_user.id == message.user_id %>
      <span>
        <a class="inbox-message-delete"  data-message-id=<%= message.id %> href="javascript:void(0);" name="delete">
          删除
        </a>
      </span>
    <% end %>
  </div>
</div>