<div class="inbox-item inbox-item-<%= message.id %>" >
  <div class="inbox-item-header">
    <% if current_user.id == message.user_id %>
      我:
    <% else %>
      <%= message.user.name %>:
    <% end %>
  </div>
  <div class="inbox-item-body">
    <span>
        <%= simple_format message.content %>
    </span>
  </div>
  <div class="inbox-footer">
    <span class="inbox-time inbox-left">
    <%= timeago message.created_at %>
    </span>
    <% if current_user.id == message.user_id %>
      <span>
        <%= link_to "删除", "javascript:void(0);", class: "inbox-message-delete", "data-message-id" => message.id,  method: "delete", "data-confirm" => "确认删除吗?" %>
      </span>
    <% end %>
  </div>
</div>