<%= stylesheet_link_tag    'inboxes', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'inboxes', 'data-turbolinks-track' => true, "defer" => "defer" %>

<div class="inbox-show-list main-content">
  <div class="inbox-show-input">
    <h4>发消息给 <%= @inbox.friend.username %>:</h4>
    <textarea class="inbox-show-textarea" style="width: 100%; height: 80px"></textarea>
    <div class="inbox-error"></div>
    <div class="inbox-notice"></div>
    <input type="submit" name="commit" value="提交" class="inbox-send-button btn btn-primary col-xs-2" data-tb="save-topic" data-username="<%= @inbox.friend.username %>" data-disable-with="提交中...">
  </div>

  <div class="message-list">
    <% @messages.each do |message| %>
      <%= render "show_item", {message: message} %>
    <% end %>
    <%= will_paginate @messages %>
  </div>
</div>


